extends ../index
block main
    - var model = feeds
    - var room = roomId
    link(rel='stylesheet' href='/stylesheets/controls/feeds.css')
    div(class='row')
        div(class='col l8 m8 s10 feed-page' data-room=room)
            if model.length > 0
                ul(class='collection feeds')
                    each item in model
                        li(class='collection-item avatar' id=item._id)
                            img(class='circle' src='/images/refucktor.jpg')
                            span(class='title')
                            p(class='feed-text') #{item.body}
                            div(class='chip')
                                i(class='material-icons left') start
                                label(class='left ups-counter') #{item.ups.length}
                            div(class='chip')
                                i(class='material-icons left') star_outline
                                label(class='left downs-counter') #{item.downs.length}
                            div(class='secondary-content votes-actions')
                                a(class='waves-effect waves-circle waves-light btn-floating voteUp' data-feed=item._id.toString())
                                    i(class='material-icons') star
                                a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown' data-feed=item._id.toString())
                                    i(class='material-icons') star_outline
            else
                div(class="card-panel grey lighten-3 no-feeds")
                    span(class="grey-text text-darken-3") This topic still doesn't have any feed, please be the first sharing your idea.

            li(class='collection-item avatar hide feed-item')
                img(class='circle' src='/images/refucktor.jpg')
                span(class='title')
                p(class='feed-text')
                div(class='chip')
                    i(class='material-icons left') start
                    label(class='left ups-counter')
                div(class='chip')
                    i(class='material-icons left') star_outline
                    label(class='left downs-counter')
                div(class='secondary-content votes-actions')
                    a(class='waves-effect waves-circle waves-light btn-floating voteUp' data-feed="")
                        i(class='material-icons') star
                    a(href='#' class='waves-effect waves-circle waves-light btn-floating grey voteDown' data-feed="")
                        i(class='material-icons') star_outline

            form(class='modal modal-fixed-footer' id='createFeed' method='post')
                div(class='modal-content')
                    h5(class='cyan-text text-darken-4') Create new feed
                    div(class="row")
                        div(class='input-field')
                            i(class='material-icons small prefix') lightbulb_outline
                            textarea(class='materialize-textarea' name='feedText' id='feedText')
                            label(for='feedText' data-error="Please type a correct url address" id='feedBodyText') Your idea
                div(class="modal-footer")
                    button(class="modal-action waves-effect waves-light btn-flat cyan darken-4 white-text modal-close" type='submit') Done
    div(class="fixed-action-btn" style="bottom: 45px; right: 24px")
        a(class="btn-floating btn-large cyan darken-4 modal-trigger" href="#createFeed" data-target='createFeed')
            i(class="large material-icons") mode_edit
    script(src='/javascripts/main.js')

